*{

	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
  text-transform: capitalize;
}
:root{
	--bg-color: #2a2a2a;
	--second-bg-color: #202020;
	--text-color: #fff;
	--second-color: #ccc;
	--main-color: #05fff7;
	--big-font: 5rem;
	--h2-font: 3rem;
	--p-font: 1.1rem;
}
body{
	background:#636363;
	color: white;

}
span{
  color: aqua;
}
/* header{
	position: fixed;
	width: 100%;
  height: 60px;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: rgb(44, 44, 44);
	padding: 22px 15%;
	border-bottom: 3px solid red;
	transition: all .45s ease;
}
.logo{
	color: var(--text-color);
	font-size: 35px;
	font-weight: 700;
	letter-spacing: 1px;
}
span{
	color: red;

}
.navlist{
	display: flex;
}
.navlist a{
	color: var(--second-color);
	font-size: 17px;
	font-weight: 500;
	margin: 0 25px;
	transition: all .45s ease;
}
.navlist a:hover{
	color: red;
}
.navlist a.active{
	color: red;
}
.mobile-menu {
  float: right;
  display: none;
  padding: 18 px;
}
.mobile-menu:hover {
  cursor: pointer;
}
.mobile-menu i{
  font-size: 38px;
  margin-bottom: 40px;
}
#check {
  display: none;
}
.sidebar{
  position: fixed;
  margin-top: 60px;
  top: 0;
  left: -300px;
  bottom: 0;
  width: 100px;
  background: red;
  transition: .3s;
  height: 100%;
  z-index: 1100;
  border-right: solid 2px rgb(188, 0, 0);
}
.sidebar ul li a{
  color: white;
  font-size: 15px;
}
.sidebar ul li a:hover{
  color: black;
  font-size: 17px;
  font-weight: bold;
  transition: 0.5s;
}
.sidebar ul li {
  text-align: center;
  padding: 15px;
  transition: .3s;
  transition-property: background-color;
  margin-top: 10px;
}
#check:checked ~ .sidebar {
  left: 0;
}
section{
	padding: 160px 15% 120px;
}
.home{
	position: relative;
	height: 100vh;
	width: 100%;
	background-image: url(img/bg.natal3.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.slide{
	margin-bottom: 20px;
  margin-top: 20px;
}
.one{
	display: inline-block;
	margin-right: 15px;
	height: 32px;
	padding: 0 15px;
	line-height: 32px;
	font-size: 20px;
	font-weight: 500;
	color: var(--text-color);
  margin-top: 20px;
  background-color: red;
  border-radius: 5px;
}
.two{
	/* display: inline-block;
	color: var(--second-color);
	font-size: 20px;
	font-weight: 500;
  background-color: white;
  color: red;
  border-radius: 5px;
  padding: 0 15px; */
  /* display: inline-block; */
  /*	margin-right: 15px;
	height: 32px;
	padding: 0 15px;
	line-height: 32px;
	font-size: 20px;
	font-weight: 500;
	color: red;
  margin-top: 20px;
  background-color: white;
  border-radius: 5px;
}
.name > p{
  /* overflow: hidden;
  animation: typing 2s infinite alternate;
  white-space: nowrap; */
  /* display: block;
  color: var(--second-color);
  font-size: 14px;
  transition: all .45s ease ;
}
.name p:hover{
  color: var(--text-color);
  transform: translateX(5px);
}

@keyframes typing{
  to{
      width: 0;
  }
  from{
      width: 100%;
  }
}
.home-text h1{
	font-size: 50px;
	font-weight: 600;
	color: var(--text-color);
	list-style: 1.1;
	margin: 0 0 8px;
}
.home-text h5{
	color: var(--text-color);
	margin: 0 0 35px;
	font-size: 30px;
	font-weight: 500;
	line-height: 1.1;
}
.home-text p{
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 1.8;
	margin-bottom: 40px;
}
.button{
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.btn{
	display: inline-block;
	padding: 12px 28px;
	background: red;
	border-radius: 5px;
	color: var(--text-color);
	font-size: 1rem;
	letter-spacing: 1px;
	font-weight: 600;
	transition: all .45s ease;
}
.btn:hover{
	transform: scale(0.9);
}
.btn2{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	font-weight: 600;
	color: var(--text-color);
	/* margin-left: 25px; */
/* }
.btn span i{
	height: 55px;
	width: 55px;
	background-color: red;
	color: var(--text-color);
	display: flex;
	align-items: center;
	font-size: 35px;
	border-radius: 50%;
	margin-right: 15px;
	transition: all .45s ease;
}
.btn2 span i:hover{
	transform: scale(1.1) translateY(5px)
}
header.sticky{
  background: var(--bg-color);
  border-bottom: 1px solid #ffffff1a;
  padding: 12px 15%;
}  */
.judul{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: aqua;
  position: relative;
  top: 20px;

}
.about{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}
.about img{
  max-width: 320px;
  height: auto;
  width: 100%;
  border-radius: 8px;
}
.about-text{
  background-color: black;
  border: solid 2px white;
  border-radius: 10px;
  padding: 20px;
}
.about-text h4{
  font-size: 24px;
  font-weight: 600;
  color: white;
  line-height: 1.7;
  margin: 15px 0 30px;
}
.about-text p{
  color: white;
  font-palette: var(--p-font);
  line-height: 1.8;
  margin-bottom: 4rem;
  font-size: 25px;
}
/* .services{
  background: var(--bg-color) ;
}
.main-text{
  text-align: center;
}
.main-text p{
  color: var(--second-color);
  font-size: 15px;
  margin-bottom: 15px;
}
.main-text h2{
  font-size: var(--h2-font);

}
.services-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
} */
/* .box{
  background: red;
  padding: 35px 45px;
  border-radius: 8px;
  transition: all .45s ease;
}
.s-icons i{
  font-size: 32px;
  margin-bottom: 20px;
}
.box h3{
  font-size: 24px;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 15px;
}
.box p{
  color: var(--second-color);
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 25px;
}
.read{
  display: inline-block;
  padding: 8px 18px;
  background: #333333;
  color: var(--second-color);
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
  transition: all .45s ease;
}
.read:hover{
  letter-spacing: 1px;
  background: white;
  color: black;
}
.box:hover{
  transform: translateY(-8px);
  cursor: pointer;
}
.box p iframe{
  border-radius: 20px;
  width: 200px;
  height: 300px;
}*/
.portofolio-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  align-items: center;
  gap: 2.5rem;
  margin-top: 5rem;
}
.row{
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
  display: block;
}
.row img{
  width: 100%;
  display: inline;
  transition: transform 0.5s;
  padding: 8px;
} 
/* .layer{
  width: 50%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.1), red);
  position: absolute;
  border-radius: 8px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 40px;
  transition: height 0.5s;
}
.layer h5{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}
.layer p{
  color: black;
  font-size: 1rem;
  line-height: 1.8;
}
.layer i{
  color: black;
  margin-top: 20px;
  font-size: 20px;
  background: var(--text-color);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
} */
.row:hover img{
  transform: scale(1.1);
  border-radius: 8px;
  width: 100%;
  transition: 1s ease;
}
/* .row:hover .layer{
  height: 100%;
} */
.contact{
  background: var(--bg-color-bg-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem;
}
.contact-text{
  color: white;
  margin: 18px 0;
  font-size: 20px;
  font-weight: 600;
}
.contact-text h2{
  font-size: var(--h2-font);
  line-height: 1;
}
.contact-text p{
  color: white;
  font-size: var(--p-font);
  line-height: 1.8;
  margin-bottom: 30px;
}
.list{
  margin-bottom: 2.8rem;
}
.list li{
  margin-bottom: 12px;
}
.list li{
  display: block;
  color: white;
  font-size: 14px;
  transition: all .45s ease ;
}
.list li:hover{
  color: aqua;
  transform: translateX(5px);
}
.list li span{
  color: aqua;
}
.list li span:hover{
  color: white;
}
.contact-icons img{
  height: 45px;
  width: 45px;
  background: rgb(49, 49, 50);
  color: var(--text-color);
  font-size: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 13px;
  margin-right: 15px;
  transition: all .45s ease;
}
.contact-icons img:hover{
  background: var(--text-color);
  color: red;
}
.contact-icons p{
  color: aqua;
  font-weight: bold;
  font-size: 10px;
}
/* .contact-form form{
  position: relative;
}
.contact-form form input,form textarea{
  width: 100%;
  padding: 14px;
  background: red;
  color: var(--text-color);
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
}
.contact-form textarea{
  resize: none;
  height: 240px;
}
.contact-form .submit{
  display: inline-block;
  font-size: 16px;
  background: red;
  color: var(--text-color);
  width: 160px;
  transition: all .45s ease;
}
.contact-form .submit:hover{
  transform: scale(1.1);
  cursor: pointer;
} */
.end{
  padding: 20px 15%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background: aqua;
}
.last-text p{
  color: black;
  font-size: 14px;
}
/* .top i{
  padding: 10px;
  border-radius: 8px;;
  font-size: 20px;
  color: var(--text-color);
  background-color: red;
}
.top i:hover{
  background-color: white;
  color:red;
  transition: all 0.5 ease;
} */
@media (max-width: 1480px){
  header{
    padding: 12px 2.5%;
    transition: .1s;
  }
  header.sticky{
    padding: 10px 2.5%;
    transition: .1s;
  }
  section{
    padding: 110px 3% 60px;
  }
  .end{
    padding: 15px 3%;
  }
}
@media (max-width: 1100px){
  :root{
   	--big-font: 4rem;
	  --h2-font: 2.5rem;
  	--p-font: 1.1rem;
  	transition: 1s;
  }
  .home-text h3{
    font-size: 2.5rem;
  }
  .home{
    height: 100vh;
    /* bg home */
  }
}
@media (max-width: 920px){
  .about{
    grid-template-columns: 1fr;
  }
  .about-img{
    text-align: center;
    order: 2;
  }
  .about-img img{
    width: 100%;
    height: auto;
    max-width: 100%;
  }
  .contact{grid-template-columns: 1fr;
  }
  .box p iframe{
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 768px){
  .mobile-menu{
    display: block;
  }
  header ul li {
    display: none;
  }
}